<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Upcoming Events</h1>
        </div>
    </div>
</div>

<div class="row">


    <div class="large-3 columns ">
        <div class="panel">
            <a href="#"><img src="https://i.ytimg.com/vi/ImptbAtxwbM/maxresdefault.jpg" /></a>
            <h5><a href="#">{{username}}</a></h5>
            <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
            </div>
        </div>
    </div>


    <div class="large-6 columns">

        <div ng-repeat="title in eventlist" class="row">
            <thingtodo info="title"></thingtodo>
            
        </div>

        <hr/>
    </div>
</div>
